body {
  --green-dragon-green: #355733;
  --green-dragon-dark-green: #2b3c26;
  --dark-grey: #444449;
  --mid-grey: #a3a2a3;
  --header-font: cooper-black-std, serif;
  --light-header-color: #a3a2a3;
  --body-font: "profile-pro", sans-serif;
  --body-font-size: 18px;
  --body-color: #444449;

  background-color: white;
  //background: url("~/assets/images/background.png");
  //background-size: 3200px 3200px;

  color: black;

  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

h1 {
  font-size: 2.5em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-dragon-dark-green);
  margin: 0;
}

p {
  font-size: var(--body-font-size);
}

a {
  color: var(--green-dragon-green);
  font-family: var(--header-font);
  text-decoration: none;

  &:hover {
    color: var(--green-dragon-dark-green);
  }

  // Animate an underline on hover.
  position: relative;
  font-variant: small-caps;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
