body {
  --green-dragon-green: #355733;
  --green-dragon-dark-green: #2b3c26;
  --dark-grey: #444449;
  --mid-grey: #a3a2a3;
  --header-font: cooper-black-std, serif;
  --light-header-color: #a3a2a3;
  --body-font: "profile-pro", sans-serif;
  --body-font-size: 22px;
  --body-color: #444449;
  --body-background-color: #ffffff;

  --max-page-width: 1400px;

  background-color: var(--body-background-color);
  //background: url("~/assets/images/background.png");
  //background-size: 3200px 3200px;

  color: black;

  font-family: var(--body-font);
  font-weight: 400;
  font-style: normal;

  margin: 0;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: 400;
  color: var(--green-dragon-dark-green);
  margin: 0;
}

p {
  font-size: var(--body-font-size);
}

a {
  color: var(--green-dragon-green);

  &:hover {
    color: var(--green-dragon-dark-green);
  }
}
